<%= render 'layouts/title', title_name: 'jstree test' %>
<div id="jstreecontainer"></div>
<script>
    $(function() {
        $('#jstreecontainer').jstree({
            'plugins' : ["types"],
            'types' : {
                "museum_object" : {
                    "icon" : "jstree-file"
                },
                "termlist": {
                    "icon" : "jstree-open"
                }
            },
            'core' : {
                'data' : {
                    "url" : "/jstreedata",
                    "data" : function (node) {
                        return { "id" : node.id };
                    }
                }
            }
        });
    });
</script>