<%= render 'layouts/title', title_name: t('JsTree Test') %>
<div id="jstreecontainer"></div>
<script>
    $(function() {
        $('#jstreecontainer').jstree({
            'core' : {
                'data' : {
                    "url" : "/jstreedata",
                    "data" : function (node) {
                        return { "id" : node.id };
                    }
                }
            }
        });
    });
</script>