# File should be located in context root directory, this is where docker looks for it:
# https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Ignore everything
**

# Allow app dir
!app/**

# Exclude content in app that is not related to the app itself
app/log
app/tmp
app/.idea
app/storage


# Allow docker and environment related content
!docker/build-files/app-entrypoint.sh
!docker/build-files/app-first-deploy-entrypoint.sh
