# Ignore everything
**

# Allow app dir
!app/**

# Exclude content in app that is not related to the app itself
app/log
app/tmp
app/.idea
app/storage


# Allow docker and environment related content
!docker-entrypoint.sh
