<table class="table">
  <tr>
    <% objects.column_names.each do |attr_name| %>
      <th><%= attr_name.humanize %></th>
    <% end %>
  </tr>
  <% objects.each do |m| %>
    <tr>
    <% m.attributes.each do |attr_name, attr_value| %>
      <td> <%= attr_value %></td>
    <% end %>
    <td><%= link_to t('edit'), "" %></td>
    </tr>
  <% end %>
</table>
