$('#museum_object_termlist_kind_of_object_id').empty();
$('#museum_object_termlist_kind_of_object_id').append(
                                                $('<option value=""></option>'));
<% @kind_of_objects.each do |kind| %>
  $('#museum_object_termlist_kind_of_object_id').append($('\
                                                  <option value="<%= kind.id %>"> \
                                                    <%= kind.name %> \
                                                  </option>'));
<% end %>
