<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "application" -%>
  </head>
  <body>
    <div id="header">
    </div>
    <% museum_objects.each_with_index do |museum_object, index| %>
    <% index == museum_objects.size-1 ? page_break = "auto" : page_break = "always" %>
    <div id="content-<%= museum_object.full_inv_number.gsub(/\W/, '') %>", style="page-break-after: <%= page_break %>">
      <%= render 'layouts/museum_object_pdf', museum_object: museum_object %>
    </div>
    <% end %>
  </body>
</html>
