<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "application" -%>
  </head>
  <body>
    <div id="header">
    </div>
    <% museum_objects.each do |museum_object| %>
    <div id="content-<%= museum_object.full_inv_number.gsub(/\W/, '') %>", style="page-break-after: always">
      <%= render 'layouts/museum_object_pdf', museum_object: museum_object %>
    </div>
    <% end %>
  </body>
</html>
