<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "application" -%>
  </head>
  <body onload='number_pages'>
    <div id="header">
      <%= wicked_pdf_image_tag 'mysite.jpg' %>
    </div>
    <% museum_objects.each do |museum_object| %>
    <div id="content">
      <%= render 'layouts/museum_object_pdf', museum_object: museum_object %>
    </div>
    <% end %>
  </body>
</html>
