<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @acquisition_delivered_by.name %>
</p>

<%= link_to 'Edit', edit_acquisition_delivered_by_path(@acquisition_delivered_by) %> |
<%= link_to 'Back', acquisition_delivered_bies_path %>
