<%= render 'layouts/title', title_name: "Choose Section" %>
<table class="table">
  <tr>
    <th>Name</th>
  </tr>
  <tr>
    <td><%= link_to "Museum", termlists_index_path, termlist_name: "museum", class: "btn btn-link" %></td>
  </tr>
  <tr>
    <td><% link_to "Acquisition","", class: "btn btn-link" %></td>
  </tr>
</table>
