.progress-bar {
  color: $white;
}

body {

}

.container-border {
      min-height: 600px;
      margin:0 auto;
      padding:10px 25px;
      border-width:1px;
      border-style: solid;
      border-color: #ccc;
      border-radius: 0.25rem; // same as .card
}
