<%= render 'layouts/title', title_name: t('Choose Section') %>
<table class="table">
  <tr>
    <th>Name</th>
  </tr>
  <tr>
    <td><%= link_to t('Museum'), termlists_index_path, termlist_name: "museum" %></td>
  </tr>
  <% @termlists&.each do |termlist| %>
    <% fullname = termlist.clone; %>
    <% termlist.slice!("termlist_"); %>
    <% unless fullname.start_with? "termlist_kind_of_object_specifieds" %>
      <tr>
        <td><%= link_to termlist.humanize(capitalize: false).singularize, termlists_index_path(termlist_name: fullname, nice_name: termlist) %></td>
      </tr>
    <% end %>
  <% end %>
</table>
