<% images.each do |image| %>
  <div class="col-md-4">
    <div class="card">
      <a href="<%= url_for(image) %>" target="_blank">
        <%= image_tag image.variant(resize: "250x250"), class: "card-img-top" %>
      </a>
    </div> <%# card %>
  </div>
<% end %>
