<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div id="navbar" class="navbar-collapse collapse">
      <ul class = "nav navbar-nav">
        <li><%= link_to "Menu", root_path %></li>
        <li><p class="navbar-text">Welcome back, <a class="navbar-link" href="#">Jutta Häser</a></p></li>
      </ul>
      <ul class = "nav navbar-nav navbar-right">
        <li><a class="nav-link  navbar-right" href="#">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
