<% perc = calc_progress_percentage state %>
<% state_string = state.to_s %>
<% state_string["step_"] = "" %>
<% state_string = state_string.gsub '_', ' ' %>
 <div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="<%= perc %>"
  aria-valuemin="0" aria-valuemax="100" style="width:<%= perc %>%">
    <%= state_string %>
  </div>
</div> 
