<div class="col-md-4">
<table class="table table-hover">
  <thead>
    <tr>
      <th>inv. no.</th>
      <th>ext.</th>
      <th>site name</th>
    </tr>
  </thead>
  <% @museum_objects.each do |o| %>
    <tbody>
      <tr class="search-result-row" data-link="<%= museum_object_path(o) %>">
        <td><%= o.inv_number %></td>
        <td><%= o.inv_extension %></td>
        <td><%= o&.excavation_site&.name %></td>
      </tr>
    </tbody>
  <% end %>
</table>
</div>
