<div class="col-md-4">
<table class="table table-hover">
  <thead>
    <tr>
      <th>inv. no.</th>
      <th>materials</th>
      <th>materials specified</th>
    </tr>
  </thead>
  <% @museum_objects.each do |o| %>
    <tbody>
      <tr class="search-result-row" data-link="<%= museum_object_path(o) %>">
        <td><%= o.full_inv_number %></td>
        <td><%= o.materials_decorated %></td>
        <td><%= o.material_specifieds_decorated %></td>
      </tr>
    </tbody>
  <% end %>
</table>
</div>
