<div class="museum_object_page museum_object_preservation_conservation">
  <h2>preservation/conservation</h2>
  <%= link_to "edit", wizard_path(:step_preservation) %>
  <dl class="dl-horizontal">
  
    <div class="row">
      <div class="col-3">
        <dt>preservation (material)</dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.termlist_preservation_material&.name %></dd>
      </div>
    </div>
      
    <div class="row">
      <div class="col-3">
        <dt>preservation (object)</dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.termlist_preservation_object&.name %></dd>
      </div>
    </div>
      
    <div class="row">
      <div class="col-3">
        <dt>conservation</dt>
      </div>
      <div class="col">
        <dd><%= @museum_object&.description_conservation %></dd>
      </div>
    </div> 
    
  </dl>
</div>
