<div class="museum_object_page museum_object_preservation_conservation">
  <h2>preservation/conservation</h2>
  <%= link_to "edit", wizard_path(:step_preservation) %>
  <dl class="dl-horizontal">
  
    <dt>preservation (material)</dt>
      <dd><%= @museum_object&.termlist_preservation_material&.name %></dd>
      
    <dt>preservation (object)</dt>
      <dd><%= @museum_object&.termlist_preservation_object&.name %></dd>
      
    <dt>conservation</dt>
      <dd><%= @museum_object&.description_conservation %></dd>
      
    
  </dl>
</div>
