<div class="hidden museum_object_page museum_object_acquisition">
  <h2>ACQUISITION</h2>
  <dl class="dl-horizontal">
    <dt>kind of acquisition</dt>
    <dd><%= @museum_object&.termlist_acquisition_kind&.name %></dd>
    
    <dt>delivered by</dt>  
    <dd><%= @museum_object&.termlist_acquisition_delivered_by&.name %></dd>
    
    <dt>acquisition date</dt>
    <dd><%= @museum_object&.acquisition_date %></dd>
  </dl>
</div>
