<div class="hidden museum_object_page museum_object_images">
  <h2>images</h2>
  <%= link_to "edit", wizard_path(:step_images_upload) %>
  <div class="row">
    <% @museum_object&.images.each do |image| %>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="<%= url_for(image) %>">
          <%= image_tag url_for(image) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
